# Added composer files to the block! --> |composer\.json|composer\.lock
<FilesMatch "(EXCEPTION_LOG\.txt|\.log|\.tpl|pkg\.rev|\.ini|pkg\.info|\.pem|composer\.json|composer\.lock|test_config\.yml)$">
    order allow,deny
    deny from all
</FilesMatch>
